@import 'npm:@picocss/pico/css/pico.css';

main {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    position: relative;
}

.outer-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

div.outer-form h3 {
    padding-left: 0.5em;
}

div.outer-form div.barcode {
    text-align: right;
    padding-right: 0.5em;
    font-size: 42px;
}

div.outer-form.deceased .form {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='500px' height='400px'><text transform='translate(20, 100) rotate(45)' fill='red' font-size='80'>DECEASED</text></svg>");
    background-repeat: repeat;
    background-position: center;
}

.form {
    grid-column: span 2;
    border: 5px solid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#tas-form-2 .form {
    grid-template-rows: repeat(7, 1fr) repeat(3, 2fr) 1fr 3fr repeat(3, 1fr) 2fr;
}

#tas-form-2-reverse .form {
    grid-template-rows: repeat(2, 1fr) 7fr 1fr 6fr 6fr;
}


.form div {
    border: 1px solid;
    grid-column: span 2;
    padding-left: 0.5em;
    padding-bottom: 0.25em;
}

.form div.padding-left {
    padding-left: 0.5em;
}

.form div h2 {
    margin-bottom: 0;
    text-transform: uppercase;
}

.form div div {
    border: none;
    padding-left: 0;
    padding-bottom: 0;
}

div.span-3 {
    grid-column: span 3;
}

div.span-1 {
    grid-column: span 1;
}

div.span-4 {
    grid-column: span 4;
}

div.border-left-0 {
    border-left: 0;
}

div.border-right-0 {
    border-right: 0;
}

div.upp {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-left: 0;
    padding-bottom: 0;
    /* FIXME: lower row should have padding-bottom: 0.25em */
}

div.upp div {
    grid-column: span 1;
}

div.upp div.border-right {
    border-right: 2px solid;
    grid-row: span 2;
}

div.form div.label {
    font-size: 80%;
}

div.form label {
    display: inline;
    margin-right: 1em;
    font-size: 80%;
}

div.form input[type="checkbox"] {
    appearance: none;
    margin: 0;
    margin-right: 0.25em;
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 0.15em solid currentColor;
    border-radius: 0;
}

div.form input[type="checkbox"]::before {
    width: 0.65em;
    height: 0.65em;
}

div.form input[type="checkbox"]:checked::before {
    content: "";
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0.1em;
    width: 0.6em;
    height: 0.6em;
    background-color: black;
    display: block;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

div.form input[type="checkbox"]:disabled {
    color: black;
    background-color: transparent;
}